// *****************
// BUTTON
// *****************
.btn {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 16px 30px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--lime-color);
  border: 2px solid var(--lime-color);
  border-radius: 5px;
  transition: all 0.4s ease;
}
