.block-18 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px 60px;
  background-color: var(--bg-gray-color);
  z-index: 10;
  .sect_title {
    margin-bottom: 40px;
  }
  .sect_title + .descr {
    margin-bottom: 30px;
  }
  .descr {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-family: $ff;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $black;
    span {
      display: inline-block;
      margin-block: 8px;
      font-weight: 600;
    }
  }
  .d-block:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-18 .sect_title {
    margin-bottom: 24px;
  }
  .block-18 .descr {
    font-size: 16px;
    word-break: break-word;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
