.block-14 {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--bg-gray-color);
  z-index: 10;
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
