.block-04 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 50px;
  z-index: 10;
  .sect_title {
    text-align: center;
  }
  .sub_title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: var(--accent-color);
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
