.block-21 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 80px;
  background-color: var(--bg-gray-color);
  z-index: 10;
  .line-wrap {
    margin-bottom: 50px;
    .block-content {
      display: block;
      width: 100%;
      max-width: calc(100% - 120px);
      .sect_title {
        margin-bottom: 12px;
      }
      .descr {
        display: block;
        width: 100%;
        font-family: $ff;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        color: $black;
      }
    }
    .basket-button {
      position: relative;
      display: block;
      width: 107px;
      height: 127px;
      background: url("../img/block-21/icon-basket.svg") center / contain no-repeat;
      &:after {
        content: attr(data-count);
        position: absolute;
        top: calc(50% + 10px);
        left: 50%;
        font-family: $ff;
        font-weight: 400;
        font-size: 24px;
        color: var(--accent-color);
        transform: translate(-50%, -50%);
      }
    }
  }
  .block__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    gap: 64px;
    max-width: 1078px;
    margin: 0 auto;
    .block__product {
      position: relative;
      display: block;
      width: 100%;
      max-width: calc(50% - 34px);
      padding: 38px;
      background-color: $white;
      border-radius: 8px;
      &:before {
        content: attr(data-badge);
        position: absolute;
        top: 32px;
        left: 32px;
        display: block;
        width: 100%;
        max-width: max-content;
        padding: 6px 20px;
        font-family: $ff;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: $white;
        background-color: var(--accent-color);
        border-radius: 5px;
      }
      .block__product-img {
        display: block;
        width: 100%;
        height: 540px;
        margin-bottom: 30px;
        object-fit: cover;
        border-radius: 8px;
      }
      .block__product-title,
      .block__product-price {
        display: block;
        width: 100%;
        font-family: $ff;
        font-weight: 400;
        font-size: 16px;
        color: var(--accent-color);
      }
      .block__product-title {
        margin-bottom: 8px;
      }
      .block__product-price {
        margin-bottom: 30px;
        font-weight: 600;
      }
      .btn {
      }
    }
  }
}

.product__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  .product__popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  .close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    width: 40px;
    height: 40px;
    background: $white url("../img/icons/icon-close.svg") center / contain no-repeat;
    border: 6px solid $white;
    border-radius: 60px;
    cursor: pointer;
    z-index: 30;
  }
  .product__popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 36px;
    width: 1080px;
    max-width: 92%;
    height: auto;
    max-height: 90vh;
    // max-height: 440px;
    background-color: $white;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 24px solid $white;
    overflow-y: scroll;
    z-index: 20;
    .content__image {
      max-width: 285px;
      .product__img {
        display: block;
        width: 100%;
        height: inherit;
        margin-bottom: 20px;
        border-radius: 8px;
      }
      .product__title {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-family: $ff;
        font-weight: 400;
        font-size: 18px;
        color: $black;
      }
      .product__price {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-family: $ff;
        font-weight: 600;
        font-size: 20px;
        color: $black;
        &:after {
          content: attr(data-word);
        }
      }
    }
    .content__descr {
      display: block;
      width: 100%;
      max-width: calc(100% - 325px);
      font-family: $ff;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.5;
      color: $black;
    }
    .content__bottom {
      .btn[disabled] {
        color: rgba(0, 0, 0, 0.3);
        background-color: var(--bg-gray-color);
        border-color: var(--bg-gray-color);
        cursor: no-drop;
      }
    }
  }
}

.basket__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  .basket__popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  .close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    width: 40px;
    height: 40px;
    background: $white url("../img/icons/icon-close.svg") center / contain no-repeat;
    border: 6px solid $white;
    border-radius: 60px;
    cursor: pointer;
    z-index: 30;
  }
  .basket__popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 36px;
    width: 980px;
    max-width: 92%;
    height: auto;
    max-height: 90vh;
    // max-height: 440px;
    background-color: $white;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 24px solid $white;
    overflow-y: scroll;
    z-index: 20;
    .basket-text-count {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      font-family: $ff;
      font-weight: 400;
      font-size: 20px;
      color: $black;
    }
    .basket__items {
      counter-reset: productCounter;
      margin-bottom: 40px;
      .basket__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding-left: 32px;
        &:before {
          counter-increment: productCounter;
          content: counter(productCounter);
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          max-width: 32px;
          font-family: $ff;
          font-weight: 400;
          font-size: 20px;
          color: var(--accent-color);
        }
        .basket__item-img {
          display: block;
          width: 130px;
          height: 166px;
          object-fit: cover;
          border-radius: 8px;
        }
        .basket__item-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          // max-width: 292px;
          max-width: calc(100% - 540px);
          .basket__item-title {
            display: block;
            width: 100%;
            margin-bottom: 16px;
            font-family: $ff;
            font-weight: 400;
            font-size: 20px;
            color: $black;
          }
          .basket__item-price {
            display: block;
            width: 100%;
            max-width: max-content;
            font-family: $ff;
            font-weight: 400;
            font-size: 20px;
            color: var(--accent-color);
          }
          .basket__item-have {
            display: block;
            width: 100%;
            max-width: max-content;
            font-family: $ff;
            font-weight: 400;
            font-size: 14px;
            color: $black;
          }
        }
        .basket__item-count {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          max-width: 120px;
          min-height: 42px;
          background-color: #c5f3f5;
          border-radius: 8px;
          .count-minus {
            display: block;
            width: 24px;
            height: 24px;
            background: url("../img/icons/icon-baslet-minus.svg") center / contain no-repeat;
            cursor: pointer;
          }
          .count-num {
            display: block;
            width: 24px;
            font-family: $ff;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: var(--accent-color);
          }
          .count-plus {
            display: block;
            width: 24px;
            height: 24px;
            background: url("../img/icons/icon-baslet-plus.svg") center / contain no-repeat;
            cursor: pointer;
          }
        }
        .basket__item-sum {
          display: block;
          width: 100%;
          max-width: 120px;
          margin-top: 12px;
          font-family: $ff;
          font-weight: 400;
          font-size: 20px;
          text-align: right;
          color: var(--accent-color);
        }
        .basket__item-remove {
          display: block;
          width: 32px;
          height: 32px;
          margin-top: 8px;
          background: url("../img/icons/icon-basket-remove.svg") center / contain no-repeat;
          cursor: pointer;
        }
        &:not(:last-child) {
          margin-bottom: 34px;
        }
      }
    }
    .basket__controls {
      margin-bottom: 60px;
      padding-right: 65px;
      .basket-clean {
        display: block;
        width: 100%;
        max-width: max-content;
        font-family: $ff;
        font-weight: 400;
        font-size: 20px;
        color: #9e2525;
        cursor: pointer;
      }
      .basket__controls-count {
        max-width: 210px;
        .descr {
          display: block;
          width: 100%;
          max-width: max-content;
          font-family: $ff;
          font-weight: 400;
          font-size: 20px;
          color: $black;
        }
        #result-sum {
          display: block;
          width: 100%;
          max-width: max-content;
          font-family: $ff;
          font-weight: 400;
          font-size: 20px;
          color: var(--accent-color);
        }
      }
    }
    .basket__form {
      .wpcf7-form {
        .group-input {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .label-input {
            display: block;
            width: 100%;
            max-width: 140px;
            font-family: $ff;
            font-weight: 400;
            font-size: 18px;
            color: var(--accent-color);
          }
          .wpcf7-form-control-wrap {
            display: block;
            width: 100%;
            max-width: calc(100% - 152px);
            input[type="text"],
            input[type="email"] {
              padding-block: 10px;
              color: rgba(0, 0, 0, 0.7);
              border: 1px solid var(--accent-color);
              border-radius: 3px;
              &::placeholder {
                color: rgba(0, 0, 0, 0.4);
              }
            }
            select {
              -webkit-appearance: none;
              appearance: none;
              display: block;
              width: 100%;
              max-width: max-content;
              padding: 8px 12px;
              background-color: var(--bg-gray-color);
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-21 .line-wrap {
    margin-bottom: 35px;
  }
  .block-21 .line-wrap .block-content .descr {
    font-size: 21px;
  }
  .block-21 .block__products .block__product {
    padding: 24px;
  }
  .block-21 .block__products .block__product:before {
    top: 20px;
    left: 20px;
  }

  .product__popup .close-popup {
    top: 10px;
    right: 10px;
  }
  .product__popup .product__popup-content {
    max-width: 88%;
    max-height: 94vh;
  }
  .product__popup .product__popup-content .content__image {
    max-width: 240px;
  }
  .product__popup .product__popup-content .content__descr {
    max-width: calc(100% - 278px);
  }
  .product__popup .product__popup-content .content__image .product__title {
    font-size: 17px;
  }
  .product__popup .product__popup-content .content__descr {
    font-size: 14px;
  }

  .basket__popup .close-popup {
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 991px) {
  .block-21 .block__products {
    gap: 24px;
    max-width: 754px;
  }
  .block-21 .block__products .block__product {
    max-width: calc(50% - 14px);
  }
  .block-21 .block__products .block__product .block__product-img {
    height: 376px;
  }

  .product__popup .product__popup-content {
    width: 440px;
  }
  .product__popup .product__popup-content .content__image,
  .product__popup .product__popup-content .content__descr {
    max-width: 100%;
  }

  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-img {
    width: 110px;
    height: 142px;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-content {
    max-width: calc(100% - 400px);
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-count {
    max-width: 104px;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-sum {
    max-width: 110px;
  }

  .basket__popup .basket__popup-content .basket__controls {
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .block-21 .line-wrap .block-content .descr {
    font-size: 19px;
  }
  .block-21 .block__products {
    max-width: 380px;
  }
  .block-21 .block__products .block__product {
    max-width: 100%;
  }
  .block-21 .block__products .block__product .block__product-img {
    height: 426px;
  }

  .basket__popup .basket__popup-content .basket__items .basket__item {
    gap: 16px 0;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item:not(:last-child) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-img {
    order: 1;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-content {
    order: 2;
    max-width: calc(100% - 190px);
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-remove {
    order: 3;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-count {
    order: 4;
    max-width: 110px;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-sum {
    order: 5;
  }

  .basket__popup .basket__popup-content .basket__controls {
    padding-right: 0px;
  }
}
@media (max-width: 576px) {
  .block-21 {
    padding-block: 60px;
  }
  .block-21 .line-wrap .block-content {
    max-width: 100%;
  }
  .block-21 .line-wrap .block-content .descr {
    margin-bottom: 16px;
  }
  .block-21 .line-wrap .basket-button {
    margin: 0 0 0 auto;
  }

  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-img {
    width: 94px;
    height: 120px;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-content {
    max-width: calc(100% - 150px);
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-content .basket__item-title {
    font-size: 17px;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-content .basket__item-price {
    max-width: 100%;
    margin-bottom: 4px;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-count {
    max-width: 94px;
  }

  .basket__popup .basket__popup-content .basket__controls .basket__controls-count {
    max-width: 180px;
  }

  .basket__popup .basket__popup-content .basket__form .wpcf7-form .group-input .label-input {
    max-width: 100%;
    margin-bottom: 8px;
  }
  .basket__popup .basket__popup-content .basket__form .wpcf7-form .group-input .wpcf7-form-control-wrap {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-img {
    display: none;
  }
  .basket__popup .basket__popup-content .basket__items .basket__item .basket__item-content {
    max-width: calc(100% - 40px);
  }

  .basket__popup .basket__popup-content .basket__controls .basket-clean {
    margin-bottom: 12px;
  }
  .basket__popup .basket__popup-content .basket__controls .basket__controls-count {
    justify-content: flex-start;
    gap: 24px;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .block-21 .block__products .block__product .block__product-img {
    height: inherit;
  }
  .block-21 .line-wrap .basket-button {
    width: 80px;
    height: 94px;
  }
  .block-21 .line-wrap .basket-button:after {
    font-size: 21px;
  }
}
