.block-14 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 100px;
  background-color: var(--bg-gray-color);
  z-index: 10;
  .data-search {
    margin-bottom: 30px;
  }
  // .ui-state-default,
  // .ui-widget-content .ui-state-default,
  // .ui-widget-header .ui-state-default,
  // .ui-button {
  //   background-color: transparent;
  // }
  .ui-state-default,
  .ui-widget-content .ui-state-default {
    background-color: transparent;
  }
  .ui-state-highlight,
  .ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight,
  .ui-button.ui-state-disabled:hover,
  .ui-button.ui-state-disabled:active,
  .ui-state-active {
    color: $white;
    background-color: var(--lime-color);
    border-color: var(--lime-color);
  }
  .ui-widget-content .ui-state-active {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .ui-datepicker td {
    padding: 0;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  .ui-button.ui-state-disabled:hover,
  .ui-button.ui-state-disabled:active {
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-14 {
    padding-block: 50px 80px;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
