.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100px;
  background-color: var(--accent-color);
  .footer-menu {
    gap: 46px;
    margin-bottom: 115px;
    .menu-item {
      display: block;
      width: 100%;
      max-width: max-content;
      a {
        display: block;
        width: 100%;
        font-family: $ff;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.4;
        color: var(--menu-color);
        transition: all 0.4s ease;
      }
    }
  }
  .line-wrap {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 95px;
    .form-image {
      position: absolute;
      top: 50%;
      left: calc(50% - 560px);
      display: block;
      width: 100%;
      max-width: 592px;
      height: inherit;
      object-fit: contain;
      transform: translate(-50%, -50%);
    }
    .wpcf7 {
      max-width: 480px;
      margin: 0 auto;
      transform: translateX(140px);
      .group-input .wpcf7-not-valid-tip {
        color: var(--menu-color);
      }
      form.invalid .wpcf7-response-output,
      form.payment-required .wpcf7-response-output,
      form.unaccepted .wpcf7-response-output {
        color: $white;
      }
    }
  }
  .footer__bottom {
    padding-block: 20px;
    border-top: 2px dashed $white;
    .line-wrap {
      display: flex;
      max-width: 1622px;
      margin: 0 auto;
      padding-inline: $indent;
    }
    .descr {
      display: block;
      width: 100%;
      max-width: 48%;
      font-family: $ff;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: $white;
    }
    .footer__bottom-contacts {
      gap: 30px;
      width: 100%;
      max-width: 50%;
      .footer-email {
        display: block;
        width: 100%;
        max-width: max-content;
        margin-right: 30px;
        font-family: $ff;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $white;
      }
      .footer-social {
        display: block;
        width: 30px;
        height: 28px;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
  }
  .footer .footer-menu {
    gap: 32px;
  }
  .footer .footer-menu .menu-item a {
    font-size: 24px;
  }
  .footer .line-wrap .form-image {
    left: calc(50% - 360px);
  }
  .footer .line-wrap .wpcf7 {
    max-width: 440px;
    margin: 0 0 0 auto;
    transform: translateX(0);
  }
}
@media (max-width: 991px) {
  .footer .footer-menu {
    gap: 26px;
    margin-bottom: 80px;
  }
  .footer .footer-menu .menu-item a {
    font-size: 21px;
  }
  .footer .line-wrap .form-image {
    position: relative;
    top: 0;
    left: 0;
    max-width: 92%;
    margin: 0 auto 60px auto;
    transform: translate(0, 0);
  }
  .footer .line-wrap .wpcf7 {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .footer .footer__bottom .descr,
  .footer .footer__bottom .footer__bottom-contacts {
    max-width: 100%;
  }
  .footer .footer__bottom .descr {
    margin-bottom: 32px;
    text-align: center;
  }
  .footer .footer__bottom .footer__bottom-contacts {
    justify-content: center;
  }
  .footer .footer__bottom .footer__bottom-contacts .footer-email {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer .footer-menu .menu-item a {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
